@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;600;700&display=swap');

/**************** 
    VARIABLES
*****************/
:root {
    /* Colors */
        --purple: #755cde;
        --light-orange: #f6a560;
        --pink: #f39e9e;
        --red: #eb7565;
        --teal: #61c4b7;
        --dark-purple: #552049;
        --black: #030303;
        --gray: #7a746e;
        --white: #fff7f0;
}



/**************** 
    RESET
*****************/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}




/**************** 
    MAIN
*****************/
body {
    min-height: 100vh;
    background-color: var(--white);
    position: relative;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.container {
    max-width: 110rem;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    body {
        /* padding: 3.4rem 3.9rem; */
    }
}




/**************** 
    Navigation
*****************/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 111.1rem;
    margin: 0 auto 3.2rem auto;
}

.nav__logo {
    height: 4.8rem;
}

@media screen and (min-width: 768px) {
    .nav {
        margin: 0 auto 6.4rem auto;

    }
    .nav__logo {
        height: 6.4rem;
    }
}

@media screen and (min-width: 1024px) {
    .nav {
        margin: 0 auto 7rem auto;
    }
}




/**************** 
    Header
*****************/
.header {
    width: 100%;
    text-align: center;
    max-width: 75.2rem;
    margin-bottom: 3.2rem;
}

.header__heading {
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 2.2rem;
}

.header__tagline {
    padding: 0 2.8rem 0.2rem 2.8rem;
    line-height: 1.5;
    font-size: 1.6rem;
    color: var(--gray);
}

@media screen and (min-width:768px) {
    .header {
        margin-bottom: 6.3rem;
    }
    .header__heading {
        font-size: 4.4rem;
        margin-bottom: 2.7rem;
    }

    .header__tagline {
        font-size: 1.8rem;
        padding: 0 6rem 0.2rem;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        margin-bottom: 8rem;
    }
    .header__heading {
        font-size: 5.6rem;
        margin-bottom: 2.4rem;
    }

    .header__tagline {
        padding: 0 1rem 0.2rem;
    }
}



/**************** 
    Grids
*****************/
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
}

@media screen and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, auto);
    }
}

@media screen and (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(6, auto);
        grid-template-rows: repeat(2, auto);
    }
}



/**************** 
    Categories
*****************/
.categories {
    width: 100%;
    gap: 2.4rem;
    margin-bottom: 10rem;
}

.category {
    padding: 2.4rem;
    border-radius: 10px;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.category:hover {
    transform: scale(1.03);
}


/* Inner flex alignment */
.category :nth-child(1) {
    align-self: flex-end;
}

.category :nth-child(2) {
    align-self: flex-start;
}


/* Categories */
.graphic-design {
    background-color: var(--purple);
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    height: 36.4rem;
}

.ui {
    background-color: var(--light-orange);
    height: 18.2rem;
}

.apps {
    height: 18.2rem;
    background-color: var(--pink);
}

.ilustrations {
    height: 15.2rem;
    background-color: var(--red);
    grid-column: 1 / 3;
}

.photography {
    grid-column: 1 / 3;
    height: 18.2rem;
    background-color: var(--teal);
}

.motion-graphics {
    height: 18.2rem;
    grid-column: 1 / 3;
    background-color: var(--dark-purple);
}

@media screen and (min-width: 768px) {
    .categories {
        margin-bottom: 13.1rem;
    }
    .ilustrations {
        grid-column: 3 / 5;
    }

    .motion-graphics {
        grid-column: 3 / 5;
    }
}

@media screen and (min-width: 1024px) {
    
    .ilustrations {
        height: 15.8rem;
    }
    .photography {
        grid-column: 5 / 7;
        grid-row-start: 1;
    }

    .motion-graphics {
        grid-column: 5 / 7;
        height: 15.8rem;
    }
}




/**************** 
    About
*****************/
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about__image {
    width: 88%;
    max-width: 44.5rem;
    margin-bottom: 3.8rem;
}

.about__body {
    text-align: center;
}

.about__body .heading {
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 2.6rem;
}

.about__body .tagline {
    font-size: 1.6rem;
    color: var(--gray);
    line-height: 1.55;
    margin-bottom: 2.4rem;
}

@media screen and (min-width: 768px) {
    .about {
        flex-direction: row;
    }
    
    .about__image {
        position: relative;
        right: 8rem;
        width: 230%;
        height: auto;
        margin: 0;
    }

    .about__body {
        text-align: left;
    }

    .about__body .heading {
        font-size: 3.2rem;
    }

    .about__body .tagline {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 1024px) {
    .about {
        gap: 12.5rem;
        height: fit-content;
    }
    .about__image {
        width: 200%;
        right: 0;
        top: 0;
    }
    .about__body .heading {
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 3.2rem;
    }

    .about__body .tagline {
        margin-bottom: 3.3rem;
    }
}




/**************** 
    Carousel
*****************/
.work {
    margin: 0 auto;
}
.work__heading {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 3.2rem;
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

.swiper-slide img {
    display: block;
    width: 100%;
    min-width: 27rem;
    max-width: 57rem;
    object-fit: cover;
    border-radius: 10px;
}

.button-container {
    height: min-content;
    width: min-content;
    margin: 3.2rem auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}
.next, .prev {
    background-color: var(--black);
    padding: 2.4rem;
    border-radius: 50% ;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.prev > img, .next > img {
    height: 1.6rem;
    width: auto;
}




/**************** 
    Callout
*****************/
.callout {
    background-color: var(--black);
    text-align: center;
    padding: 4.9rem 2.4rem;
    border-radius: 10px;
    color: var(--white);
}

.callout__heading {
    font-size: 2.6rem;
    margin-bottom: 2.1rem;
}

.callout__tagline {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 2.8rem;
}

@media screen and (min-width: 768px) {
    .callout {
        padding: 5.6rem 7.5rem 6.4rem;
    }

    .callout__heading {
        font-size: 3.2rem;
        margin-bottom: 2.5rem;
    }

    .callout__tagline {
        font-size: 1.8rem;
        margin-bottom: 2.6rem;
    }
}

@media screen and (min-width: 1024px) {
    .callout {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8rem 9.5rem 8rem 6.5rem;
    }

    .callout__text {
        text-align: left;
        max-width: 54rem;
    }

    .callout__heading {
        font-size: 4rem;
    }

    .callout__tagline {
        margin: 0;
    }
}






/**************** 
    Buttons
*****************/

.btn {
    font-family: inherit;
    padding: 1.3rem 2.884rem;
    border-radius: 30px;
    border: none;
    font-size: 1.4rem;
    color: #fff;
    cursor: pointer;
}

.btn--one {
    background-color: var(--black);
}

.btn--one:hover {
    background-color: var(--purple);
}

.btn--two {
    background-color: var(--red);
}

.btn--two:hover {
    background-color: var(--light-orange);
}

@media screen and (min-width:768px) {
    .btn {
        font-size: 1.5rem;
        padding: 1.85rem 5.006rem;
        font-weight: 600;
    }
}


