<section class="categories container grid">
	<div class="category graphic-design">
		<img src="assets/pattern-graphic-design.svg" alt="" />
		<p>Graphic Design</p>
	</div>
	<div class="category ui">
		<img src="assets/pattern-ui-ux.svg" alt="" />
		<p>UI/UX</p>
	</div>
	<div class="category apps">
		<img src="assets/pattern-apps.svg" alt="" />
		<p>Apps</p>
	</div>
	<div class="category ilustrations">
		<img src="assets/pattern-illustrations.svg" alt="" />
		<p>Illustrations</p>
	</div>
	<div class="category photography">
		<img src="assets/pattern-photography.svg" alt="" />
		<p>Photography</p>
	</div>
	<div class="category motion-graphics">
		<img src="assets/pattern-motion-graphics.svg" alt="" />
		<p>Motion Graphics</p>
	</div>
</section>
